<h2>All Teachers</h2>
<% if @current_user.admin == true %>
<button id="new-teacher-button" value="hide/show">Add Teacher</button>
<div id="new-teacher" align="center" style="display: none">
	<%= render :partial => "newTeacher" %>
</div>
<% end %>
<table class="table table-striped">
	<tr>
		<th></th>
		<th>Name</th>
		<th>Email</th>
	</tr>
	<% @teachers.each do |teacher| %>
	<tr>
		<td><%= link_to image_tag("http://placehold.it/50x50", alt: "Teacher Pic"), '#' %></td>
		<td class="middle"><%= link_to "#{teacher.name}", teacher_path(teacher) %></td>
		<td class="middle"><%= teacher.email %></td>
	</tr>
		<% end %>
</table>


