<h2>All Teachers</h2>

<table class="table table-striped">
	<tr>
		<th></th>
		<th>Name</th>
		<th>Email</th>
	</tr>
	<% @teachers.each do |teacher| %>
	<tr>
		<td><%= link_to image_tag("http://placehold.it/50x50", alt: "Teacher Pic"), '#' %></td>
		<td class="middle"><%= link_to "#{teacher.name}", teacher_path(teacher) %></td>
		<td class="middle"><%= teacher.email %></td>
	</tr>
		<% end %>
</table>


